[Unit]
Description=Pull backups from cluster nodes
Requires=zfs.target
After=zfs.target

[Service]
TimeoutStartSec=1h
Environment=TZ=UTC
Type=oneshot
User=core
Group=core
ExecStart=/usr/bin/pull-backups.sh
