[Unit]
Description=Apply Apple MacBook Pro kernel arguments
ConditionPathExists=!/var/lib/apple-kargs-setup.stamp

[Service]
Type=oneshot
ExecStart=/usr/local/bin/apple-kargs-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
