[Unit]
Description=lima-guestagent

[Service]
ExecStart=/usr/bin/lima-guestagent daemon --vsock-port 2222
Type=simple
Restart=on-failure
OOMPolicy=continue
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target
